ChEn-3170: Computational Methods in Chemical Engineering Spring 2023 UMass Lowell; Prof. V. F. de Almeida **16Jan23**

# 02. Python: Variables, Data Types, and Data Structures

---
## Table of Contents<a id="toc"></a>
* [Objectives](#obj)
* [Introduction](#introduction)
  
  
* [Variables](#variables)
 - [Boolean](#boolean)
 - [String](#string)
   + [Indexing Operator []](#nb1)
   + [Slicing Operator or Colon Operator [x:y:z]](#nb2)
 - [Numeric](#numeric)
   + [Conversion](#conversion)
   + [Operations](#operations)
 - [None](#none)
 
 
* [Data Structures or Built-in Containers](#structures)
 - [List](#list)
 - [Dictionary](#dictionary)
 - [Tuple](#tuple)
 - [Set](#set)
 
 
* [Summary](#summary)
* [Interactive Help](#help)


* [Practicing w/ Lists](#lists)
* [Practicing w/ Dictionaries](#dictionaries)
* [Practicing w/ Tuples](#tuples)
* [Practicing w/ Sets](#sets)
---

## [Objectives](#toc)<a id="obj"></a>

 + Learn Python variables and data types used in this course.
 + Describe native Python data structures used in this course.

## [Introduction](#toc)<a id="introduction"></a>
+ Python *Variables* are *objects* that hold data.
+ *Types* (data types) determine what kind of data a variable is supposed to contain. Python variable types are dynamically assigned/modified at runtime. *Introspection* allows for finding the type of a variable.
+ *Structures* are different ways of storing data

#### We will use in this course 4 basic (primitive) data types (or types):
+ **Boolean:** `True` or `False`
* **Strings:** alphanumeric (`str`)
- **Numeric:** integer (`int`) or float (`float`)
- **NoneType** `None`

#### [Python](https://www.python.org/) ([documentation](https://docs.python.org/3.10/contents.html)) has also a help "utiliy" (or built-in function) in the interpreter
+ `help()`

If you want to learn Python in a deeper way, one book I personally recommend is: [*Learning Python*](https://www.amazon.com/Learning-Python-5th-Mark-Lutz/dp/1449355730) by Mark Lutz, $5^\text{th}$ Edition, O'Reilly, **2013**.

In [ ]:
'''Interactive help warning'''  # this line is a documentation string

#help()  # don't leave this running on your interactive session; clear the output after running it

You can ask help on `help()`.

In [ ]:
#help(help)

There are many built-in functions in Python (e.g):

In [ ]:
#help(print)

## [Variables](#toc)<a id="variables"></a>
Standard practice in Python programming is to use *snake case* variable names, *i.e*. 
<font color="red">*my_variable_name*</font>.

### [Boolean variables](#toc)<a id="boolean"></a>

In [ ]:
'''Creation'''

hello = True # "hello" is a variable name and its type is boolean or the same as 1
a = hello
b = False    # "b" is a variable name and its type is boolean or the same as 0

In [ ]:
'''Inspection'''

# print command for output to standard output terminal
# print( arg, arg, arg, ... )  # syntax of a print() built-in function

print('a is ')
print(a)
print(type(a))

print('a is ', a, type(a), '; b is ', b, type(b))

In [ ]:
'''The "print" name is a reserved keyword in Python'''

#help(print)

### [String (alpha-numeric) variables](#toc)<a id = "string"></a>

In [ ]:
'''Creating and inspecting a "water" string type'''

water = 'H2O'  # the water variable is assigned a string using quotes

print(water, ' is of type:', type(water))

In [ ]:
'''Creating and inspecting a "nuclide" string type'''

nuclide = "U-238" # assigned to using quotes

print('nuclide =', nuclide)

In [ ]:
'''Help on nuclide does not dive into its type'''

#help(nuclide)

In [ ]:
'''Help on str type will give all the information'''

#help(str)

In [ ]:
'''Alternatively the built-in function dir() shows a list of attributes and methods'''

#dir(nuclide)

**$\Rightarrow$ Strings are like an array or sequence of characters.**

In [ ]:
'''String data types have a "length"'''

print('# of characters in nuclide: ', len(nuclide))  # the "length" of the argument in this case a string

In [ ]:
#help(len) # "len()" is a built-in function

### [Indexing Operator []](#toc)<a id="nb1"></a>
<div class="alert alert-block alert-danger">
NB: Bracket or Index Operator [i] where i is replaced by an offset integer number:
    [2] is the index operator for accessing the object with offset index 2.
</div>

**$\Rightarrow$  Index offset in the string "array" starts from zero.**

In [ ]:
'''Accessing the indivicual characters of the "nuclide" string type'''

# bracket or index operator
# index offset in the string "array" starts from zero

# access to each string character with indexing operator []
print('nuclide[0] = ', nuclide[0])
# access to each string character with indexing operator []
print('nuclide[1] = ', nuclide[1])
# access to each string character with indexing operator []
print('nuclide[2] = ', nuclide[2])
# access to each string character with indexing operator []
print('nuclide[3] = ', nuclide[3])
# access to each string character with indexing operator []
print('nuclide[4] = ', nuclide[4])

In [ ]:
'''Index out of range access'''

nuclide[5]

**$\Rightarrow$  No index past 4 because there are 5 elements with indices 0, 1, 2, 3, 4.**

In [ ]:
'''Reverse access [-i]'''

print(nuclide[-1])

In [ ]:
'''String types are immutable'''

#nuclide[0] = 'P'    # let's change U to Pu; this is not allowed

In [ ]:
'''Applying the "split()" method on a string type'''

# split the string at the '-' character and save the result in tmp (i.e. list)
tmp = nuclide.split('-')

print('tmp type is ', type(tmp), 'with values: ', tmp)

In [ ]:
'''Save results from the split() return'''

nuclide_element = tmp[0]            # capture the nuclide element
nuclide_isotope = tmp[1]            # capture the isotope number

print('nuclide_element =', nuclide_element)
print('nuclide_isotope =', nuclide_isotope)

### [Slicing Operator or Colon Operator [x:y:z]](#toc)<a id="nb1"></a>
<a id="nb2"></a>
<div class="alert alert-block alert-danger">
NB: Slicing Operator or Colon Operator [x:y:z].
</div>

In [ ]:
'''Slice (or view) of string data type'''

print('nuclide =', nuclide)

**$\Rightarrow$  General slice operator [x:y:z]: loop from x to y ("NOT INCLUDING y") in steps of z.**

In [ ]:
# Example 1. slice operator [:] selects all data

print('nuclide[:] =', nuclide[:])

In [ ]:
# Example 2. slice operator [0:] also selects all data starting from 0

print('nuclide[0:] =', nuclide[0:])

**$\Rightarrow$  Note above [0:] has no "y" end, therefore the slice will go until the last index (included).**

In [ ]:
# Example 3. slice operator [0:1] selects 1-0 = 1 items starting from 0

print('nuclide[0:1] =', nuclide[0:1])

In [ ]:
# Example 4. slice operator [1:2] selects 2-1 = 1 items starting from 1

print('nuclide[1:2] =', nuclide[1:2])

In [ ]:
# Example 5. slice operator [0:-1] selects items starting from 0 to "-1" not including it

print(nuclide[0:-1])  # negative indicates counting from the back of the list (-1 is the last one)

print(nuclide[0:-2])  # negative indicates counting from the back of the list (-2 is one before last)

In [ ]:
# Example 5a last element on the "back"

print(nuclide[-1])

In [ ]:
# Example 6. What does this do?

print(nuclide[-3:])

**$\Rightarrow$ Use `help(str)` to find out about other facilities available for string data types.**

In [ ]:
# Note the `+` operator for concatening string variables

concatenated = nuclide + ' <--> ' + water

print('concatenaded strings =', concatenated)

### [Numeric variables](#toc)<a id="numeric"></a>

They can be an integer, `int`, or a floating point, `float`.

In [ ]:
a = 10         # variable a is assigned the integer 10
print(type(a)) # print statement to print the type of a

In [ ]:
a = 1.3e4       # floating point
print(type(a))

NB: different types; `int` versus `float`. An important difference in rounding off or truncation error.

#### [Type conversion (implicit and explicit or casting) and dynamic type change](#toc)<a id="conversion"></a>

In [ ]:
'''Casting an integer to float'''

a = float(5)     # an integer is casted into a float
print(type(a),a)

In [ ]:
'''Casting up'''

a = 1
b = 1.0    # note a is an integer and b is a float
print(type(a*b))  # the result of the product is a float

In [ ]:
'''Truncation casting'''

a = int(5.87)         # a float is casted into a truncated integer
b = int(5.21)         # a float is casted into a truncated integer (no rounding to the next integer)
print('a =',a,';', type(a)) # print format statement
print('b =',b,';', type(b)) # print format statement

In [ ]:
'''Dynamic type change'''

a = 10         # integer
print(type(a))
a = True       # now assigned to a boolean
print(type(a))

#### [Operations](#toc) <a id="operations"></a>

In [ ]:
'''Addition and subtraction'''

# note: a = True turns into a = 1

a = a + 1     # add one and assign to variable
print('a =',a)

a += 1        # add in place
print('a =',a)

a -= 2        # subtract in place
print('a =',a)

In [ ]:
'''Multiplication, power, etc.'''

import math  # math python "package" import

radius = 5.9
area = math.pi * radius**2
print('area =',area)

e = math.exp(1)
print(e)

print(math.e)

cte = area / radius**2 # division
print('cte = ',cte)

In [ ]:
'''Logical testing'''

5 > 7 # greater than equal operator; other operators: >=, <, <=

In [ ]:
6 == 6 # equality or identity operator; other related operator "not equal": !=

In [ ]:
#6 = 6 # error in assignment

### [NoneType variable](#toc)<a id="none"></a>

In Python a variable can be assigned the `None` type. This is no type at all, that is, type `NoneType`. 

1. This a convenient value for testing conditions of variables that have not been given any value. 
1. Also it is a way to free memory allocated for a previously defined variable.

In [ ]:
'''None type'''

a = None

print(type(a))
print(a)

## [Data Structures or Built-in Containers](#toc)<a id="structures"></a>

Python has **4** basic (primitive) native data structures of interest in this course:
- **Linked lists:** `list()` (*ordered sequence* of any type of objects)
- **Dictionary:** `dict()`   (*unordered sequence* of key-value pairs of any type of objects)
- **Tuples:** `tuple()`      (*immutable sequence* of any type of objects)
- **Sets:** `set()`          (*immutable group* of *unique* objects of *certain* types)

In [ ]:
#help(list)

### [List: sequence of data types](#toc)<a id="list"></a>

In [1]:
'''Creation of list types'''

atoms = list()  # create empty list of atoms via list()
atoms = []      # create empty list of atoms via brackets []

print('atoms = ', atoms, '; type =', type(atoms))

atoms =  [] ; type = <class 'list'>

In [2]:
'''Examples: creation of list types'''

water_atoms = ['2 H', 'O']       # create list of atoms in a water molecule: use the [...] container
methane_atoms = ['C', '4 H']     # list of atoms in a methane molecule: use the [...] container

print('water atoms   = ', water_atoms)
print('methane atoms = ', methane_atoms)

water atoms   =  ['2 H', 'O']
methane atoms =  ['C', '4 H']

In [3]:
'''Access to list items via indexing: indexing in Python uses zero offset'''

print(water_atoms, '; length = ', len(water_atoms)) # note the len() method used on "water_atoms"

print(water_atoms[0])                              # note indexing operation on "water_atoms"
print(water_atoms[1])

['2 H', 'O'] ; length =  2
2 H
O

### [Dictionary: key-value pairs in any order](#toc)<a id='dictionary'></a>

In [4]:
'''Creation of a "species" dictionary type'''

species = dict()    # create an empty dictionary type variable named "species"
species = {}        # another way to create the same variable {} (curly brackets)

print('species = ', species, '; type =', type(species))

species =  {} ; type = <class 'dict'>

In [ ]:
'''Example: creation of a "species" dictionary type'''

# one way to create a species dictionary {} container
# keys and values pairs:  {key:value, key:value, ...}

species = {'water': water_atoms, 'methane': methane_atoms}  

print('species type =', type(species))                       
print('species = ', species)

In [ ]:
'''Example: creation of a "species" dictionary type'''

# another way to create a species dictionary {} container
# Must be "string keys" and values pairs:  dict(key:value, key:value, ...)

species = dict(water=water_atoms, methane=methane_atoms) 

print('species type =', type(species))                       
print('species = ', species)

In [ ]:
'''Creation of a dictionary type using the key and its value directly'''

species = dict()  # clear the species object and make it a dict type

species['water']   = water_atoms       # insert directly into the dictionary (note: order does not matter)
species['methane'] = methane_atoms     # insert directly into the dictionary (note: order does not matter)

print('species type =', type(species))
print('species = ', species)
print("species['water'] = ", species['water'])

In [ ]:
#help(species)

In [ ]:
#dir(species)

### [Tuple: immutable sequence of data types](#toc)<a id="tuple"></a>

In [ ]:
'''Creation of a tuple type'''

velocity = tuple()  # create an emtpy "velocity" tuple type
velocity = ()       # another way to create an empty tuple via parenthesis ()

print('velocity = ',velocity, '; type =',type(velocity))

In [ ]:
'''Example: create a tuple with data directly'''

velocity = (3.1, 4.5, -7.8)   # use the () container to create a tuple of any length

print('velocity tuple = ', velocity)
print('velocity type   = ', type(velocity))

In [ ]:
'''Access values in the tuple'''

print('velocity component 1 = ', velocity[0])    # zero offset access with indexing operator []
print('velocity component 2 = ', velocity[1])
print('velocity component 3 = ', velocity[2])
#print('velocity component 4 = ',velocity[3]) # will cause an out of bounds or range error

In [ ]:
'''A tuple is immutable'''

#velocity[1] = 5.8      # assignment is not allowed

In [ ]:
#dir(list)

In [ ]:
'''Mutable element in a tuple'''

velocity = (water_atoms, 4.5, -7.8)
velocity

### [Set: immutable group of unique data types](#toc)<a id="set"></a>

In [ ]:
'''Creation of a "species" dictionary type'''

air = set()   # create an empty set type variable named "air"
#air = {}     # another way to create the same variable via curly brackets {}: conflicts with dict()

print('air = ',air, '; type =',type(air))

In [ ]:
'''Example: creation of a "species" dictionary type'''

air = {'water', 'water', 'methane', 'argon', 'O2', 'N2'}  # create an "air" set {} container

print('air type =', type(air))
print('air      = ', air)

In [ ]:
air_list = ['water', 'methane', 'argon', 'O2', 'N2', 'water']
air_list

In [ ]:
'''Converting list to set'''

air = set(air_list)
air

Example of a built-in function `sorted()` applied to `set`.

In [ ]:
print('sorted air = ', sorted(air)) # what is this doing?

In [ ]:
#help(sorted)

In [ ]:
'''A set container is not ordered thus indexing is not available'''

#air[0]   # produces an error

In [ ]:
'''A set type is meant to mimic a mathematical set with operations'''

weird_set = set((2.3, 8, 10.1, 'O2', 'iPhone', velocity))
# Alternatively
#weird_set = {2.3, 8, 10.1, 'O2', 'iPhone', velocity}

print('air = ', air, ' weird_set = ', weird_set)
print('intersection =', air & weird_set)  # intersection of sets, operator "&"
print('union        =', air | weird_set)  # union of sets, operator "|"

In [ ]:
'''A tuple into a set'''
{(1,2,3)}

In [ ]:
'''One element'''
len({(1,2,3)})

In [ ]:
'''A list into a set'''
{[1,2,3]} # does not work

In [ ]:
'''A list into a set'''
set([1,2,3])

In [ ]:
'''Three elements'''
len(set([1,2,3]))

In [ ]:
weird_set = {2.3, 8, 10.1, 'O2', 'iPhone'}
weird_set
print('intersection =', air & weird_set)  # intersection of sets, operator "&"
print('union        =', air | weird_set)  # union of sets, operator "|"

In [ ]:
#help(set)

In [ ]:
#dir(set)

In [ ]:
air.intersection(weird_set)

In [ ]:
air.union(weird_set)

### [Summary](#toc)<a id="summary"></a>

In [ ]:
string = ''         # empty string (cryptic)
string = str()      # empty string

listing = []        # empty list (cryptic)
listing = list()    # empty list

dictionary = {}     # empty dictionary (cryptic)
dictionary = dict() # empty dictionary

tuple_a = ()        # empty tuple (cryptic)
tuple_a = tuple()   # empty tuple

set_a = {}          # empty set (cryptic and clashes with a dictionary)
set_a = set()       # emtpty set

### [Interactive Help](#toc)<a id="help"></a>
Practical help sources at the Python interactive prompt
+ `dir()` : shows the objects in the interactive session
+ `dir(object)` : use this built-in function on a Python *object* to obtain a list of methods
+ `help()` : use this built-in function on anything to obtain information on what the argument does

In [ ]:
#dir()  # show the local variables in the current session

In [ ]:
#dir(str()) # inquire about all methods and atrributes this empty str() object has to offer

In [ ]:
#help(str) # inquire about what the str() methods do

## [Practicing w/ Lists](#toc)<a id="lists"></a>

In [ ]:
'''Getting data into a list data type'''

my_data = range(10) # create a range of integers: 0 to 9

print('my_data = ',my_data) # not very revealing since range() does not create data until needed
print('type = ',type(my_data)) # not very revealing since range() does not create data until needed
print(list(my_data))                                   # this creates a list() and reveals the data created

Note that `my_data` is of type `range` and does not hold an explicit *range* of data (see output line 2 above). Once manipulation of data is requested (code line 6 above; when a `list` is created), data is created (0, 1, ... 9) by the `my_data` object. This is called *deferred evaluation*.

In [ ]:
'''Getting help on "range"'''

#help(range)  # help on range

In [ ]:
'''Data with start and stop values'''

list(range(4,7))     # range(i,j) = [i,i+1,...,j-1]

In [ ]:
'''Data w/ equal start and stop values'''

list(range(4,4))     # empty list range(4,4) = []

In [ ]:
'''Data w/ start, stop and step values'''

list(range(4,8,2))   # range(4,8,2) = [4,...,8-1] in steps of 2, i.e. [4,6]

In [ ]:
'''Data w/ negative start and end values'''

list(range(-10,-1,2))

In [ ]:
'''Indexing access of the data'''

data_lst = list(range(67,136,3))       # generate a list of integers

print('data =', data_lst)              # show all data
print('data length = ', len(data_lst)) # show the length of the data
print('data_lst[5] =', data_lst[5])    # what is the value at offset 5?
#data_lst[24]                          # this causes an error

In [ ]:
'''Changing data by assignment'''

data_lst[3] = 'surprise'       # change the value of offset 3 to a string
print('data = ',data_lst)

In [ ]:
'''Position of data using the "index" method'''

data_lst.index('surprise')   # what is the offset (or index) of the first occurence of value 79

In [ ]:
#dir(list)

In [ ]:
#help(list.index)

In [ ]:
'''Access the last element and backwards'''

print(data_lst)
print(data_lst[-1])   # use [-1] for last
print(data_lst[-2])   # uset[-2] for penultimate element
print(data_lst[-3])   # uset[-3] for 2 before last

In [ ]:
'''Slicing operations: use the colon operator'''

print('0)',data_lst)
print('1)',data_lst[4:6])   # access from offset 4 to up to but not including 6
print('2)',data_lst[0:3])   # access from the beginning up to but not including 3    
print('3)',data_lst[ :3])   # same thing but ommit 0
print('4)',data_lst[10:-1]) # offset 10 up to but not including the last
print('5)',data_lst[10:  ]) # offset 10 up to the last included
print('6)',data_lst[:])     # all
print('7)',data_lst[0:])    # all
print('8)',data_lst[-5])    # fifth from the back
print('9)',data_lst[-5:])   # last five

In [ ]:
print(data_lst)
print(data_lst[4:16:2])  # from offset 4 up to but not including 16 in steps of 2
print(data_lst[-10::2])  # 10th element from the back to the end in steps of 2 (may not get the end value)

In [ ]:
print(data_lst)
print(data_lst[-10::2])

In [ ]:
print(data_lst[-10:0:-2])

In [ ]:
print(data_lst)
print(data_lst[-10::-1]) # 10th element from the back going backwards to the first element (including it)

In [ ]:
'''Operations: be careful'''

print('2 * data_lst =', 2 * data_lst)
print('')
print('data_lst + data_lst =', data_lst + data_lst)

In [ ]:
'''Invalid operations'''

#data_lst - data_lst  # error: not supported; subtraction
#2.0 * data_lst       # error: not supported multiplication by float
#2*data_lst/2         # error: not supported division

## [Practicing w/ Dictionaries](#toc) <a id="dictionaries"></a>

In [ ]:
'''Data organization'''

# example with nuclides

hydrogen  = {'symbol':'H',  'atomic_number':1, 'group':1,  'period':1, 'isotopes':[1,2,3]}
helium    = {'symbol':'He', 'atomic_number':2, 'group':18, 'period':1, 'isotopes':[3,4]}
lithium   = {'symbol':'Li', 'atomic_number':3, 'group':1,  'period':2, 'isotopes':[6,7]}
beryllium = {'symbol':'Be', 'atomic_number':4, 'group':2,  'period':2, 'isotopes':[9,10]}
boron     = {'symbol':'B',  'atomic_number':5, 'group':13, 'period':2, 'isotopes':[10,11]}
#
print(hydrogen)
print(helium)
print(lithium)
print(beryllium)
print(boron)
print('')
print('H isotopes =', hydrogen['isotopes'])
print('H atomic number =', hydrogen['atomic_number'])

In [ ]:
'''Data operation with list comprehension: neutrons per isotope of a nuclide'''

# to compute the number of neutrons, subtract the atomic number from the number of nucleons (protons + neutrons)

h_neutrons = [ i - hydrogen['atomic_number'] for i in hydrogen['isotopes'] ] # list comprehension operation

print('H:  neutrons per isotope =', h_neutrons)

he_neutrons = [i - helium['atomic_number'] for i in helium['isotopes'] ]     # list comprehension operation

print('He: neutrons per isotope =', he_neutrons)

In [ ]:
'''Create a very simple `periodic_table` ("container of containers")'''

periodic_table = {'hydrogen':hydrogen, 'helium':helium, 'lithium':lithium, 'beryllium':beryllium, 'boron':boron}

print(periodic_table['helium'], '\n') # '\n' is a control character for carriage (cartridge) return

print(periodic_table.keys(),'\n')

In [ ]:
'''Systematic operation (looping) on all elements of `periodic_table`'''

# "for" "loop": exemple of execution flow control

for key in periodic_table.keys():  # loop statement
    element = periodic_table[key]  # note indentation
    neutrons_per_isotopes = [i - element['atomic_number'] for i in element['isotopes'] ] # list comprehension
    print('element = ', element['symbol'],' neutrons per isotope ',element['isotopes'],' =', neutrons_per_isotopes)

## [Practicing w/ Tuples](#toc)<a id="tuples"></a>

In [ ]:
'''Tuples have limited operations'''

veloc_a = (1.2, -3.2, 5.0)
veloc_b = (0.0, 3.0, 0.12)

print('concatenate: ', veloc_a + veloc_b)   # surprise: concatenation under + operator

In [ ]:
#dir(veloc_a)

In [ ]:
#help(tuple.count)

In [ ]:
'''Tuples have limited operations'''

print('3 * veloc_a = ', 3 * veloc_a)
print('3*veloc_a.count(1.2) =', 3 * veloc_a.count(1.2))
print('len(veloc_a) = ', len(veloc_a))

In [ ]:
'''Slicing also works for tuples'''

print(veloc_a[0:-1])   # slice from offset 0 up to but not including the last

In [ ]:
'''Curiosity'''

a = (1)
print(type(a))
print(a)

In [ ]:
'''Tuple with one element must use a comma'''

b = (1, )  # must use a comma inside the parenthesis
print(type(b))
print(b)

## [Practicing w/ Sets](#toc)<a id="sets"></a>

In [ ]:
'''Sets are primarily used to keep track of non-repeating data and for math set operations'''

a = set()                 # create an empty set
a = {'hello', 'you', 678} # assign data
print('a =', a)

In [ ]:
#dir(a)

In [ ]:
'''Adding elements to set'''

a.add(90)           # add element to set
print('a =',a)

In [ ]:
'''Sets are immutable hence mutable elements cannot be added to a set'''

#a.add(  ['a','b']  )  # cannot add a mutable to a set; list and dict not allowed

In [ ]:
'''Set operations'''

b = {100, 200, True, False, None}
print('b =',b)
print('')
print('a intersect b ->',a.intersection(b)) #  &
print('a union     b ->',a.union(b))        #  |

In [ ]:
'''Check methods available in a set object'''

#dir(a)

In [ ]:
'''Get info on the discard method'''

#help(set.discard)

In [ ]:
'''Discard set elements'''

print(a)

a.discard('hello')
print(a)

a.discard('100')
print(a)

In [ ]:
'''Test for subsets'''

{1,2,3}.issubset(range(5))  # creates both sets on the fly

In [ ]:
'''Remove any one element'''

element = a.pop()
print(element)

In [ ]:
#help(set.pop)

In [ ]:
'''Inquire about element inclusion'''

print('b =',b)

200 in b and True in b # example of a logical statement